# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Carpetas de dependencias de Node.js
node_modules/
services/
# Archivos generados por npm
npm-debug.log
yarn-error.log

# Archivos de caché y archivos temporales
.cache/
dist/
build/
*.log
*.tmp
*.swp
*.db

# Archivos de configuración locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de compilación y construcción
public/
build/


# Archivos de configuración de Visual Studio Code
.vscode/

# Archivos de configuración de IntelliJ IDEA
.idea/

