/* Definimos la familia de letras */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,100&display=swap");

:root {
    --primary--color: #00ffe0;
    --second--color: rgb(127, 26, 234);
    --white--color: white;
    --black--color: black;
    --background--footer: #eaeaea; /* EAEAEA b9b9b9*/
    --text--primary: #565656;

    --btn-padding: 0.6rem 2rem;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --search-padding: 6rem 2rem;
    --card-padding: 1rem;

    --stk-top-left: 0rem;
    --stk-top-right: -18rem;
}

/* definition Universal */
*,
*::after

/* , *::before */ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body {
    color: var(--second--color);
    background: var(--white--color);
    overflow-x: hidden;
    min-height: 100vh;
}

.profile-photos {
    width: 2rem;
    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-left: 1rem;
    display: flex;
    cursor: pointer;
    transition: 0.3s all ease;
}

.profile--logo {
    background-color: var(--background--footer);
    margin-top: 2rem;
}

.profile-photos--logo {
    margin: 0 auto;
    width: 80%;
    /* border-radius: var(--border-radius); */
   
    background-color: var(--background--footer);
    margin-top: 2rem;
   
}

i {
    width: 100%;
    display: block;
}

img {
    width: 100%;
    display: block;
}

.btn {
    padding: var(--btn-padding);
    display: inline-block;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--second--color);
    color: white;
}

/* //////////////// MAIN SECTION ////////////////////////// */
main {
    position: relative;
    /* top: 5.4rem; */
    min-height: 100vh;
}

.main-container {
    position: relative;
    display: grid;
    grid-template-columns: 18vw auto 7.5vw;
    gap: 2rem;
    /* min-height: 100vh; */
}

/* --------------- MAIN LEFT --------------- */
.main-container .main-left {
    background-color: var(--background--footer);
    position: sticky;
    height: 100vh;
    /* MAX-CONTENT */
    top: var(--stk-top-left);
    -webkit-box-shadow: 3px 0px 5px 0px rgba(31,6,29,0.32);
    -moz-box-shadow: 3px 0px 5px 0px rgba(31,6,29,0.32);
    box-shadow: 3px 0px 5px 0px rgba(31,6,29,0.32);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.main-left .profile {
    /* background-color:#00ffe0; */
    padding: var(--card-padding);
    background-color: white;
    border-radius: var(--card-border-radius);
    display: flex;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}

.main-left p {
    text-transform: lowercase;
    font-size: 0.9rem;
}

/* --------------- SIDEBAR --------------- */



.side-bar {
    /* background-color: black; */
    margin-top: 1rem;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
    height: 4rem;
}

.menu-item:hover {
    background-image: linear-gradient(
    90deg,
    hsl(173deg 100% 50%) 0%,
    hsl(168deg 79% 80%) -2%,
    hsl(0deg 0% 92%) 100%
    );
}

.menu-item i{
    margin-left: 2rem;
    position: relative;
}


.menu-item .count {
    background: var(--second--color);
    padding: 0.1rem 0.4rem;
    font-size: 0.6rem;
    height: fit-content;
    color: white;
    border-radius: 0.8rem;
    position: absolute;
    top: 1.1rem;
    left: 2.6rem;
}

.menu-item h3 {
    font-size: 1rem;
    margin-left: 1.5rem;
}



.active h3 {
    color: var(--second--color);
    text-shadow: 0.5rem 0 2rem #801bea;
}

.active {
    background: rgb(0, 255, 224);
    background: linear-gradient(
        90deg,
        rgba(0, 255, 224, 1) 0%,
        rgba(185, 185, 185, 0.7217261904761905) 44%
    );
}

.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0.5rem;
    background-color: var(--second--color);
}

.menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.showPlus {
    display: none;
}
.showOptions {
    background: #fafafa;
    box-shadow: 3px 3px 5px var(--text--primary);
    width:280px;
    height: 170px;
    margin: auto;
    border-radius: 5%;
}
.options {
    
    text-align: center;
    cursor: pointer;
}
.options h3 {
    color: #121111;
    padding: 15px;   
}
.optionCenter {
    border-top: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
}

/* MAIN CENTER */

.main-center{
     /* Centra el contenido del contenedor */
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    padding: 0 70px 0 70px;  
}
.img-center-container{
    display: block;
    margin-top: 70px;
    height: auto;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #cececea5;
}

.img-center{
    display: grid;
    grid-template-columns: 3fr 0.4fr;
    gap: 15px;
    width: 350px;
    flex:1;
    width: 100%;
    height:auto;
    border-radius: 10px;
    overflow: hidden;
  

}

.img-technology-prin{
    /* display: block;
    width: 100%;
    height: auto;
    margin: 10px; */

    display: flex;
    flex-wrap: wrap; /* Asegura que las imágenes se envuelvan en filas */
    justify-content: space-between; /* Espacio igual entre las imágenes horizontalmente */
    justify-content: space-around;
    align-items: center; /**/ 
    padding-left: 10px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #cececea5;
}

.img-center-publication{
    width: 100%;
    height:auto;
    border-radius: 10px;
}
.img-description{
   
   display: flex;
   flex-wrap: wrap;
   width: 85%;
   margin-top: 10px;
   border-bottom: #565656;  
   

}
.img-description-top{

    display: grid;
    grid-template-columns: auto 50px 50px;
    height: auto;
    width: 90%;
    margin-bottom: 0;
    padding: 10px 0 0 10px; 
}

.img-name{
   
    color: rgb(34, 34, 34);
    justify-items: left;
    text-align: 50px;
}
.img-rol{
   
    width: 127.68%;
    height: 100%;
    text-align: left;
    color: var(--text--primary);
    font-size: 11px;
    margin-bottom: 15px;
    padding-top: 10px;
}


.img-perfil-img{
    margin-left: 0; 
    width:10%;    
}

.img-perfil{
    width: 100%;
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    overflow: hidden;  
}

.img-technology{
    width: 4rem;
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    overflow: hidden;  
}

.img-perfil .count1{
    background: var(--second--color);
    padding: .1rem .4rem;
    font-size: .6rem;
    height: fit-content;
    color: rgb(132, 50, 50);
    border-radius: .8rem;
    position: absolute;
    top: 1.1rem;
    left: 2.6rem;
}

.icon-love {
    font-size: 30px;
    color: var(--second--color); 
    height: 100%;
    text-align: right;
  }

.icon-comment{
    
    font-size: 30px;
    color: var(--second--color);  
    height: 100%;
    text-align: right;
 
}

.img-verified{
    background-color: #441a31;

}
/* --------------- ENDSIDEBAR --------------- */

/* ------------ START MAIN MID ---------- */
.main-mid{
    margin:   auto;
    width: 90%;
}
.carousel-story {
    display: flex;
    align-items: center;
    margin: 2%;
    width: 90%;
}

.controls_p {
    flex: 1;
    text-align: right;
}

.controls_n {
    flex: 1;

    text-align: left;
}
.carousel_profile_story {
    display: flex;
    flex: 5;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.profile_story {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.profile_story img {
    border-radius: 25%;
    height: 90px;
    width: 90px;
    margin: auto;
    padding: 2%;
}

.prev-btn {
    background: none;
}
.next-btn {
    background: none;

    align-items: center;
}
.bx {
    font-size: 3em;
}

/* ..............end projects.................. */

/* ..............form post.................. */
.createPost {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    outline: solid 0.01px;
}

.createPost-on {
    display: flex;
}

.createPost-above {
    font-size: 0.9rem;
    background: #ffff;
    background: linear-gradient(180deg, rgb(6, 255, 226) 0%, #ffff 100%);
    display: flex;
}

.createPost-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.createPost-links a {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.btn-primary--form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--card-border-radius);
}
#mobilVarProfile {
    display: none;
}

/* ..............end form post.................. */
/*---------------main_right---------------*/
.main-right{

   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   right: 0;
   height:1000px ;
   margin: 0;
   position:fixed;
   width: 250px;
   background: #fafafa;
   box-shadow: 3px 3px 5px var(--text--primary);
    
}
.profile_life {
    
    padding: 10px;
}

.profile_life img {
    border-radius: 20%;
    height: 90px;
    width: 90px;
    margin: auto;

}
.icono_life img {
    width: 70px;
    margin: 15px;
    
}
.icono_chat img {
    width: 80px;
    margin: 15px;
  
}
.location{
    display: flex;
    
    background-color: #565656;
}
/* ------------ END MAIN MID ---------- */

/* //////////////// END MAIN SECTION ////////////////////////// */

/* RESPONSIVE */

/* Media Query para Laptop (1229px de ancho o menos) */

@media screen and (max-width: 1220px) {
    .container {
        width: 100%;
    }

    .main-container {
        grid-template-columns: 5rem auto 30vw;

    }

    .main-left {
        z-index: 5;
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .main-left .profile {
        display: none;
    }
    .main-left .menu-item h3 {
        display: none;
    }
    .side-bar label {
        display: none;
    }

    #mobilVarProfile {
        display: none;
    }
    .carousel-story {
        max-width: 800px;
    }

    .profile_story img {
        height: 70px;
        width: 80px;
    }
    .bx {
        font-size: 2em;
    }

}

/* Media Query para tabletas (768px de ancho o menos) */
@media screen and (max-width: 1025px) {
    .main-container .profile--logo {
        margin-top: 0;
        padding-top: 1rem /* Opcional */;
        align-self: start;
    }

    .main-container {
        grid-template-columns: 5rem auto 0;

    }

    /* mid */
    .main-mid {
        grid-column: 2/3;
        margin-top: 0;
    }
    .main-right {
        display: none;
    }

    .menu-item {
        margin-bottom: 50%;
        justify-content: center;
    }

    .side-bar {
        margin: 0;
    }

    .menu-item i,
    .menu-item div {
        margin-left: 0;
        position: relative;
    }

    .menu-item .count {
        padding: 0.2rem 0.6rem;
        font-size: 0.8rem;
        border-radius: 0.8rem;
        top: 0.8rem;
        left: 3rem;
    }

   
    #mobilVarProfile {
        display: none;
    }

    #aside-porfile {
        width: 3rem;
    }

    #aside-porfile img {
        width: 100%;
    }
    .main-right {
        display: none;
    }
    .carousel-story {
        max-width: 700px;
    }

    .profile_story img {
        height: 70px;
        width: 80px;
    }
    .bx {
        font-size: 2em;
    }
    .main-center{
        /* Centra el contenido del contenedor */
       display: block;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: auto;
       overflow: hidden;
    }
}
  

@media screen and (max-width: 768px) {
    .main-right {
        display: none;
    }
    .carousel-story {
        max-width: 700px;
    }

    .profile_story img {
        height: 70px;
        width: 80px;
    }
    .bx {
        font-size: 2em;
    }

}

/* Media Query para dispositivos móviles (480px de ancho o menos) */
@media screen and (max-width: 480px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;

        width: 100vw;
        align-items: none;
        align-content: flex-start;
    }

    .main-container .main-left {
        height: auto;
        min-width: 100vw;
        text-align: center;
        max-height: 25vh;
        justify-content: center;
        align-items: center;
        flex-direction:unset;
        flex-wrap: wrap;
    }

    .main-container .main-mid {
        width: 100%;
        padding: 1rem;
        overflow: hidden;
    }

    .main-container .main-right {
        display: none;
    }



    .profile-photos--logo{
        margin-top: 0;
    }

    .profile-photos--logo img {
        align-self: start;
        margin-top: 0;
        padding-top: 0; 
        height: 100%;
        width: 70%;
    }

    .profile-photos--major {
        width: 3rem;
        border-radius: var(--border-radius);
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    /* Ajustes de la barra de navegación horizontal compacta */
    .main-left {
        margin-top: 0;
        /* background-color: black; */
        padding: .5rem;


    }

    .side-bar {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
    }

    .menu-item {
        padding: 0.5rem;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 0rem;
    }

    /* Ajustes de los íconos */

    .menu-item span {
        margin-right: 0rem;
    }

    .menu-item i, 
    .menu-item div {
        margin-left: 0;
    }

    .menu-item .count {
        background: var(--second--color);
        padding: 0.1rem 0.4rem;
        font-size: 0.5rem;
        height: fit-content;
        color: white;
        border-radius: 0.8rem;
        position: absolute;
        top: 1.1rem;
        left: 1.2rem;
    }

    /* Ajustes de la foto de perfil */
    #nav-profile img {
        height: 40px;
    }

    #mobilVarProfile {
        max-height: 5vh;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    #bars {
        display: none;
    }
    #varProfile {
        display: none
    }

    .main-center{
        /* Centra el contenido del contenedor */
       display: block;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: auto;
       overflow: hidden;
       padding: 0 0 0 0;
   }
   
    .img-center{
        display: block;
        width: 100%;
        flex:1;
        width: 100%;
        height:auto;
        border-radius: 10px;

    }

   

    .img-center-container{
        display: block;
        margin-top: 70px;
        /* Oculta cualquier contenido que se desborde del borde redondeado */
        width: 350px; /* Ajusta el ancho deseado */
        height: auto;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #cececea5;

    }

    .img-technology-prin{

        display: flex;
        flex-wrap: wrap; /* Asegura que las imágenes se envuelvan en filas */
        justify-content: space-between; /* Espacio igual entre las imágenes horizontalmente */
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;

    }

    .img-center-publication{
        width: 350px;
        height: 100%;
        border-radius: 10px;
        padding: 0 1px 0 1px;
    }

    .img-description{

        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin-top: 10px;


    }
    .img-description-top{

        display: grid;
        grid-template-columns: 150px 50px 50px;
        gap: 3px;
        height: auto;
        width: 80%;
        margin-bottom: 0;
        padding: 10px 0 0 10px;


    }

    .img-name{

        color: rgb(34, 34, 34);
        justify-items: left;
        font-size: 20px;
    }
    .img-rol{

        text-align: justify;
        width: 170%;
        height: 100%;
        color: var(--text--primary);
        font-size: 11px;
        margin-bottom: 15px;
        padding-top: 10px;


    }


    .img-perfil-img{
        margin-top: 5px;
        margin-left: 0;
        width:20%;
    }

    .img-perfil{
        width: 100%;
        border-radius: var(--border-radius);
        aspect-ratio: 1;
        overflow: hidden;
    }

    .img-technology{
        width: 3rem;
        border-radius: var(--border-radius);
        aspect-ratio: 1;
        overflow: hidden;
    }


    .icon-love {
        font-size: 33px;
        color: var(--second--color);
        height: 100%;
        text-align: right;

    }

    .icon-comment{

        font-size: 30px;
        color: var(--second--color);
        height: 100%;
        text-align: right;


    }

    .img-verified{
        background-color: #441a31;

    }

}

