/* Definimos la familia de letras */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,100&display=swap");

:root {
    --primary--color: #00ffe0;
    --second--color: #801bea;
    --white--color: white;
    --black--color: black;
    --background--footer: #eaeaea; /* EAEAEA b9b9b9*/
    --text--primary: #565656;

    --btn-padding: 0.6rem 2rem;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --search-padding: 6rem 2rem;
    --card-padding: 1rem;

    --stk-top-left: 0rem;
    --stk-top-right: -18rem;
}

/* definition Universal */
*,
*::after

/* , *::before */ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body {
    color: var(--second--color);
    background: var(--white--color);
    overflow-x: hidden;
    min-height: 100vh;
}

.profile-photos {
    width: 2rem;
    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.profile--logo {
    background-color: var(--background--footer);
    margin-top: 2rem;
}

.profile-photos--logo {
    margin: 0 auto;
    width: 80%;
    /* border-radius: var(--border-radius); */
    overflow: hidden;
    background-color: var(--background--footer);
    margin-top: 2rem;
   
}

i {
    width: 100%;
    display: block;
}

img {
    width: 100%;
    display: block;
}

.btn {
    padding: var(--btn-padding);
    display: inline-block;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--second--color);
    color: white;
}

/* //////////////// MAIN SECTION ////////////////////////// */
main {
    position: relative;
    /* top: 5.4rem; */
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 18vw auto;
    /* min-height: 100vh; */
}

/* --------------- MAIN LEFT --------------- */
.main-container .main-left {
    background-color: var(--background--footer);
    position: sticky;
    height: 100vh;
    /* MAX-CONTENT */
    top: var(--stk-top-left);
}

.main-left .profile {
    /* background-color:#00ffe0; */
    padding: var(--card-padding);
    background-color: white;
    border-radius: var(--card-border-radius);
    display: flex;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}

.main-left p {
    text-transform: lowercase;
    font-size: 0.9rem;
}

/* --------------- SIDEBAR --------------- */



.side-bar {
    /* background-color: black; */
    margin-top: 1rem;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
    height: 4rem;
}

.menu-item:hover {
    background-color: var(--primary--color);
}

.menu-item span i,
.menu-item span div {
    margin-left: 2rem;
    position: relative;
}

.menu-item .count {
    background: var(--second--color);
    padding: 0.1rem 0.4rem;
    font-size: 0.6rem;
    height: fit-content;
    color: white;
    border-radius: 0.8rem;
    position: absolute;
    top: 1.1rem;
    left: 2.6rem;
}

.menu-item h3 {
    font-size: 1rem;
    margin-left: 1.5rem;
}

.active h3 {
    color: var(--second--color);
    text-shadow: 0.5rem 0 2rem #801bea;
}

.active {
    background: rgb(0, 255, 224);
    background: linear-gradient(
        90deg,
        rgba(0, 255, 224, 1) 0%,
        rgba(185, 185, 185, 0.7217261904761905) 44%
    );
}

.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0.5rem;
    background-color: var(--second--color);
}

.menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.form_project_container {
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 4px 4px 6px #bebebe;
}
.container_project{
    display: grid;
    grid-template-columns: 66% auto;
    grid-template-rows: 250px;
}
.container_img {
    display: grid;
    grid-template-columns: 45% 25% 25%;
    gap: 10px;
    height: 100%;
    justify-content: start;
}
.img_buttonCover {
    cursor: pointer;
    grid-row: 1 / 3;
}
.img_button {
    cursor: pointer;
    background-color: chartreuse;
}
label {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--text--primary);
    padding: 20px;
    cursor: pointer;
    background-color: var(--white--color);
    align-items: center;
    justify-content: center;
}
.technology_container {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.img__tecnology {
    margin: 0 20px;
    height: 60px;
    width: 60px;
}

.form--project {
    color: var(--second--color);
    margin-top: 5px;
}
.form--project input {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--white--color);
    border-radius: 10px;
    box-shadow: 0 1px 5px #8b8b8b;
    color: var(--text--primary);
}
.verify__project {
    background-color: #00ffe0;
}
.url__project {
    width: 65%;
    height: 48px;
}
.technology {
    width: 34%;
    margin-left: 5px;
    height: 48px;
}
.description {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 15px;
    background-color: var(--white--color);
    border-radius: 10px;
    box-shadow: 0 1px 5px #8b8b8b;
    color: var(--text--primary);
}
.url__gihub {
    width: 100%;
    height: 48px;
}
.container_buttonPost {
    text-align: center;
    margin-top: 25px;
}
.button_post {
    padding: 10px 30px;
    background-color: var(--second--color);
    border-radius: 6px;
    border: none;
    color: var(--white--color);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.buttonplus {
    display: none;
}

/*-----------------------------------------responsive---------------------------------------------*/
/*--------------------------------------------1220px///////////////////////////////////////*/
@media screen and (max-width: 1220px) {
    .container {
        width: 100%;
    }

    .main-container {
        grid-template-columns: 5rem auto 2vw;
        gap: 1rem;
    }

    .main-left {
        z-index: 5;
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .main-left .profile {
        display: none;
    }
    .main-left .menu-item h3 {
        display: none;
    }
    .side-bar label {
        display: none;
    }
    
 
}
/*------------------------------------820px------------------------------------------------*/


@media screen and (max-width: 820px) {
    .main-container .profile--logo {
        margin-top: 0;
        padding-top: 1rem /* Opcional */;
        align-self: start;
    }

    .main-container {
        grid-template-columns: 5rem auto 0;
        gap: 1rem;
    }

    /* mid */
    .main-mid {
        grid-column: 2/3;
        margin-top: 0;
    }*
    .main-right {
        display: none;
    }

    .menu-item {
        margin-bottom: 50%;
    }

    .side-bar {
        margin: 0;
    }

    .menu-item .count {
        padding: 0.2rem 0.6rem;
        font-size: 0.8rem;
        border-radius: 0.8rem;
        top: 0.8rem;
        left: 3rem;
    }
    

  

    #aside-porfile {
        width: 3rem;
    
    }

    #aside-porfile img {
        width: 100%;
      ;
    }
    .fa-solid {
        font-size: 2rem;
    }
    .container_project {
        display: flex;
        flex-direction: column;
        max-width: 95%;
        margin: auto;

    }
    .notVisible {
        display: none;
    }
    .buttonplus {
        display: grid;
    }
    .bx {
        font-size: 4rem;
        color: white;
        
    }
   
    .technology_container {
        display: grid;
        grid-template-columns: repeat(6, 40px);
       max-width: 100%;
        margin: 16px 0;
    }
  
    .img_buttonCover {
     height: 450px;
    }
   
    .form--project {
        max-width: 95%;
        margin: auto;
        
    }
    .form {
        width: 100%;
        margin: auto;
    }

    .description{
       margin-top: 10px;
       height: 150px;
    }
    .url__project{
        height: 50px;
    }
    .technology{
        display: none;
    }
    .url__gihub {
        height: 50px;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        width: 100vw;
        align-items: none;
        align-content: flex-start;
    }

    .main-container .main-left {
        min-width: 100vw;
        text-align: center;
        max-height: 20vh;
        justify-content: center;
        align-items: center;
    }

    .main-container .main-mid {
        width: 100%;
        padding: 1rem;
        overflow: hidden;
    }

    .main-container .main-right {
        display: none;
    }
    .profile-photos--logo {
        margin-top: 0;
    }
    /* Ajustes del logo */
    .profile--logo {
        align-self: start;
        width: 80%;
        margin-top: 0;
        padding-top: 0;
        margin-left: -3rem;
    }

    .profile--logo img {
        align-self: start;
        margin-top: 0;
        padding-top: 0;
        height: 50px;
    }

    .profile-photos--major {
        width: 3rem;
        border-radius: var(--border-radius);
        aspect-ratio: 1/1;
        overflow: hidden;
    }
    .profile-photos--logo img {
        align-self: start;
        margin-top: 0;
        padding-top: 0;
        height: 100%;
        width: 70%;
    }

    /* Ajustes de la barra de navegación horizontal compacta */
    .main-left .side-bar {
        /* background-color: black; */
        margin-top: 0;
    }

    .side-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }

    .menu-item {
        padding: 0.5rem;

        margin-bottom: 0;
    }

    /* Ajustes de los íconos */
    .menu-item span {
        margin-right: 0rem;
    }
    .menu-item span i,
    .menu-item span div {
        margin-left: 0;
    }

    .menu-item .count {
        background: var(--second--color);
        padding: 0.1rem 0.4rem;
        font-size: 0.5rem;
        height: fit-content;
        color: white;
        border-radius: 0.8rem;
        position: absolute;
        top: 1.1rem;
        left: 1.2rem;
    }

    /* Ajustes de la foto de perfil */
    #nav-profile img {
        height: 40px;
    }
    .form_project_container {
        max-width: 100%;
    }
    .img_buttonCover {
        height: 300px;
    }
    .technology_container img {
        height: 40px;
        width: 35px;
    }
    .bx {
        font-size: 2.8rem;
        padding-left: 10px;
    }
    .fa-solid {
        font-size: 1.1rem;
    }
 
    #nav-profile img {
        height: 40px;
    }

    #mobilVarProfile {
        display: block;
        max-height: 5vh;
        margin-bottom: 0;
    }

    #bars {
        display: none;
    }
    #varProfile {
        display: none;
    }
}
