/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,100&display=swap");

/* root colors */
:root {
  --primary--color: #00ffe0;
  --second--color: #801bea;
  --white--color: white;
  --black--color: black;
  --background--footer: #b9b9b9;
  --text--primary: #565656;
}

/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* background index page */
.fondo {
  background-image: url(../img/fondo.svg);
  background-repeat: no-repeat;
  background-position: 10% 20%;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0.03;
  z-index: -1;
}

/* homepage */
.homepage {
  display: flex;
}

.homepage--info {
  display: grid;
  padding: 48px;
  padding-bottom: 80px;
}

/* Logo */
.img__content {
  width: auto;
  height: auto;
  margin-top: 25px;
}

/* Text */
.img__logo {
  width: 100%;
  height: 100%;
}

.title--home {
  width: auto;
  height: auto;
  justify-content: left;
  color: var(--text--primary);
}

.title--home h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: justify;
}

.title--home p {
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}

/* Info users */
.info--users {
  display: flex;
  width: auto;
  height: auto;
  padding-right: 30px;
  text-shadow: 3px 3px 10px var(--second--color);
  justify-content: space-evenly;
}

.info--users ul {
  list-style-type: none;
  font-size: 15px;
  text-align: center;
}

.number--users {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 7px;
}

/* buttons homepage */
.buttons--home {
  display: flex;
  padding: 30px;
  width: auto;
  height: 110px;
  justify-content: space-around;
}

.button__logIn {
  padding: 10px 25px;
  background-color: var(--primary--color);
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--second--color);
  font-size: 15px;
}

.button__logIn:hover {
  box-shadow: 1px 1px 15px var(--second--color);
}

.button__singUp {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--second--color);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--second--color);
  font-size: 15px;
}

.button__singUp:hover {
  /* background-color: rgba(13, 185, 177, 0.082); */
  box-shadow: 1px 1px 15px var(--second--color);
}

/* Carousel */
.carousel--homepage {
  padding-top: 70px;
}

.carousel_profile {
  display: flex;
  padding: 30px;
  overflow: hidden;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.profile {
  flex: 1;
  text-align: center;
  width: 325px;
}

.profile img {
  border-radius: 10%;
  height: 300px;
  width: 250px;
}

.carousel_profile>div:nth-child(2) {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  margin-top: -10px;
  transition: transform 0.5s ease;
}

/* Scroll icon */
.scroll-icon {
  box-sizing: border-box;
  border: solid 4px #000;
  display: block;
  position: absolute;
  left: 95%;
  bottom: 65px;
  height: 48px;
  width: 32px;
  border-radius: 32px;
  opacity: 0.25;
}

.scroll-icon::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  animation: mouse 3s infinite;
}

@keyframes mouse {
  0% {
    transform: none;
    opacity: 1;
  }

  40% {
    transform: translateY(16px);
  }

  80% {
    transform: translateY(16px);
    opacity: 0;
  }

  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

/* About Us Carousel */
.carousel__fixed h3 {
  text-align: right;
}

.carousel__fixed div img {
  width: 100%;
  margin-bottom: 10%;
}

.carousel__item {
  display: flex;
  align-items: center;
}

.carousel-leftSide {
  text-align: center;
}

.carousel__leftSide--modifier {
  text-align: center;
}

.carousel__rightSide {
  text-align: center;
}

.carousel__rightSide>div {
  display: inline-block;
  text-align: left;
}

.carousel__tittle {
  font-size: 2.5rem;
  text-align: right;
}

.carousel__tittle--modifier {
  font-size: 1.5rem;
  text-align: right;
}

.carousel__tittle--logo {
  letter-spacing: 0.1em;
}

.carousel__text {
  font-size: 1rem;
  text-align: right;
}

.carousel__img {
  height: 100vh;
  text-align: center;
}

/* footer section */
.footer {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 50px;
  margin: 0;
  color: var(--white--color);
  bottom: 0;
  left: 0;
}

.footer--content {
  width: 100vw;
  padding-top: 15px;
  background-color: var(--background--footer);
  justify-content: left;
  align-items: center;
}

.container--footer {
  display: flex;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  color: var(--text--primary);
}

.container--footer h2 {
  font-size: 12px;
  font-family: "Ralawey", sans-serif;
  color: var(--text--primary);
}

.icon-copyright {
  font-size: 15px;
  padding: 0 10px;
  color: var(--text--primary);
}

/* Modal  */
/* .modal--viewer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #15151546;
} */

.modal {
  margin: 150px 350px;
  width: 50%;
  max-width: 450px;
  max-height: 240px;
  background-color: #c2c2c2;
  padding: 1.5em 2.5em;
  border-radius: 6px;
}

.modal p {
  font-size: small;
}

.close__modalProject {
  width: 100%;
  text-align: right;
}

.close__modalProject button {
  color: var(--second--color);
  font-size: 25px;
  border: none;
  background-color:  #c2c2c2;
  cursor: pointer;
}

.input--modal {
  border-radius: 6px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  width: 85%;
  height: 35px;
}

.modal__tittle {
  font-size: large;
  color: var(--second--color);
  text-transform: uppercase;
}

.send {
  height: 35px;
  width: 35px;
  border: none;
  background-color: var(--primary--color);
  border-radius: 6px;
  color: var(--white--color);
}



/* RESPONSIVE */

/* Media Query Tablets (834px de ancho o menos) */
@media screen and (max-width: 834px) {

  /* homepage section */
  .homepage {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .homepage--info {
    margin-top: 20px;
    padding: 0 90px;
    order: 2;
    flex: 1;
  }

  .title--home {
    margin-top: 15px;
  }

  .title--home h1 {
    text-align: center;
    font-size: x-large;
  }

  .title--home p {
    font-size: larger;
    text-align: center;
  }

  .info--users {
    margin-top: 10px;
  }

  .buttons--home {
    margin-top: 5px;
    padding: 10px 15px;
    height: 70px;
    justify-content: space-around;
  }

  .button__logIn,
  .button__singUp {
    font-size: 17px;
  }

  /* carousel page initial */
  .carousel--homepage {
    margin-top: 40px;
    padding-bottom: 0;
    width: 100vw;
    flex: 1;
  }

  .carousel_profile {
    display: flex;
    padding: 10px 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .profile {
    flex: 1;
    text-align: center;
  }

  .profile img {
    max-width: 100%;
    border-radius: 20%;
    height: 300px;
    width: 250px;
  }

  .carousel_profile>div:nth-child(2) {
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    margin-top: -10px;
  }

  /* Scroll icon */
  .scroll-icon {
    display: none;
  }

  /* us query strigns*/
  .usCarousel {
    margin-top: 80px;
  }

  .carousel__leftSide {
    display: none;
  }

  .img__none {
    display: none;
  }

  .carousel__text {
    margin-bottom: 90px;
    padding: 10px 30px 0 30px;
    text-align: center;
  }

  .carousel__tittle {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
  }

  .carousel__tittle--modifier {
    font-size: large;
    text-align: center;
  }

  .carousel__tittle--logo {
    text-align: center;
    font-size: 2rem;
  }

  .image__bg {
    display: flex;
    justify-content: center;
    width: 80%;
    z-index: 90;
    background-image: url(../img/code.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: contain;
  }

  .carousel__img {
    height: 50vh;
    text-align: center;
  }

  /* footer */
  .footer {
    z-index: 100;
  }
}

/* Media Query smart phones (480px de ancho o menos) */
@media screen and (max-width: 480px) {

  /* homepage section */
  .homepage {
    flex-direction: column;
    width: 50vw;
    text-align: center;
  }

  .homepage--info {
    margin-top: 10px;
    padding: 0 40px;
  }

  .homepage--info {
    order: 2;
  }

  .title--home {
    margin-top: 5px;
  }

  .title--home h1 {
    text-align: center;
    font-size: large;
  }

  .title--home p {
    font-size: medium;
    text-align: center;
  }

  .buttons--home {
    margin-top: 5px;
    padding: 10px 15px;
    height: 60px;
  }

  .button__logIn,
  .button__singUp {
    font-size: 12px;
  }

  /* carousel pag initial */
  .carousel--homepage {
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 0;
    width: 100vw;
  }

  .carousel_profile {
    display: flex;
    padding: 10px 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .profile {
    flex: 1;
    text-align: center;
    width: 100%;
  }

  .profile img {
    max-width: 90%;
    border-radius: 20%;
    height: 200px;
    width: 150px;
  }

  .carousel_profile>div:nth-child(2) {
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    margin-top: -10px;
  }

  /* scroll icon */
  .scroll-icon {
    display: none;
  }

  /* us */
  .usCarousel {
    margin-top: 70px;
  }

  .carousel__leftSide {
    display: none;
  }

  .carousel__text {
    margin-bottom: 50px;
    padding: 10px 40px 0 40px;
    text-align: center;
  }

  .carousel__tittle {
    margin-top: 20px;
    text-align: center;
    font-size: 1.4rem;
  }

  .carousel__tittle--modifier {
    font-size: medium;
  }

  /* footer */
  .footer {
    z-index: 100;
  }
}