<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Foto desde Galería</title>
</head>
<body>
    <h1>Cambiar Foto desde Galería</h1>

    <img id="image-preview" src="/static/img/portadasinfoto.jpeg" alt="Imagen actual" style="max-width: 100%; max-height: 300px; cursor: pointer;">

    <input type="file" id="file-input" accept="image/*" style="display: none;">

    <script>
        const fileInput = document.getElementById("file-input");
        const imagePreview = document.getElementById("image-preview");

        // Agregar un evento al hacer clic en la imagen
        imagePreview.addEventListener("click", function () {
            // Simular un clic en el input de archivo
            fileInput.click();
        });

        // Agregar un evento para el cambio en el input de archivo
        fileInput.addEventListener("change", function (event) {
            const selectedFile = event.target.files[0];

            if (selectedFile) {
                const objectURL = URL.createObjectURL(selectedFile);
                imagePreview.src = objectURL;
            }
        });
    </script>
</body>
</html>
