<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_formShortClip.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>

</head>

<body>
    <main class="container main-container">
        <!-- ---------- NAVBAR ---------- -->
        <header class="main-left">
            <div class="container_mobile">
                <div class="profile-photos--logo">
                    <a href="/codenet/structure">
                        <img src="../img/code.svg" alt="" id="icon-company">
                    </a>
                </div>
                <div class="profile_more">
                    <a href="#" class="profile__mobile" id="varProfile">
                        <div class="profile__mobile" id="aside-porfile">
                            <img src="../img/person.png" alt="">
                        </div>
                    </a>
                    <a onclick="showPlusOptions()" class="menu_mobile" id="varProfile">
                        <i class="fa-solid fa-ellipsis-vertical icon_mobile"></i>
                    </a>
                </div>
            </div>
            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="/codenet/structure" class="menu-item">
                    <div class="icon1">
                        <img src="/img/icons/home.svg" alt="">
                    </div>
                    <p>Inicio</p>
                </a>
                <a href="/codenet/search" class="menu-item ">
                    <div class="icon1">
                        <img src="../img/icons/search.svg" alt="">
                    </div>
                    <p>Buscar</p>
                </a>
                <a href="/codenet/streams" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/live.svg" alt="">
                    </div>
                    <p>Live</p>
                </a>
                <a href="/codenet/clips" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/shortclip.svg" alt="">
                    </div>
                    <p>ShortClip</p>
                </a>
                <a href="#" class="menu-item  message">
                    <div class="icon1">
                        <img src="../img/icons/message.svg" alt=""><!-- <small class="count">5</small> -->
                    </div>
                    <p>Mensajes</p>
                </a>
                <a href="#" class="menu-item2" id="varProfile">
                    <div class="profile-photos" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                    <p>Mi perfil</p>
                </a>
            </aside>
            <div class="showPlus">
                <ul class="showOptions">
                    <li>
                        <a href="#" class="optionsMore">
                            <p>editar perfil</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="settingShow()" class="optionsMore">
                            <p class="optionCenter">configuraciónes</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore">
                            <p>cerrar sesión</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a onclick="showPlusOptions()" class="menu-item3" id="varProfile">
                <i class="fa-solid fa-bars icon2"></i>
                <p>Más</p>
            </a>
        </header>
        <!------------ form shortClip ----------->
        <div class="shortClip_container">
            <!--------------------- settings page ----------------->
            <section class="showSettings">
                <div class="setting">
                    <div class="close__modalSure">
                        <button type="button">x</button>
                    </div>
                    <div class="darkMode">
                        <p>Modo oscuro</p>
                        <label class="switch">
                            <input type="checkbox" id="mySwitch">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="languageMode"> lenguaje</div>
                </div>
            </section>
           
            <form class="shortClip_project" id="videoUploadForm">
                <div class="shortClip_in">
                    <div class="img_buttonCover">
                        <label for="img_button" class="add_shortClip">+</label>
                        <input accept="video/*" type="file" id="img_button" hidden>
                    </div>
                    <h4 class="button_in_text">Ingrese un video que no supere los 2 minutos</h4>
                </div>
                <div class="shortClip--short">
                    <textarea class="description" name="message" id="videoDescription" placeholder="Descripción" required></textarea>
                    <input type="url" class="url_shortClip" name="url_shortClip" id="videoURL" placeholder="URL" required>
                </div>
                <div class="container_buttonPost">
                    <button class="button_post" id="submitButton">Publicar</button>
                </div>
            </form>
            <div id="videoModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeModal">&times;</span>
                    <img src="../img/modal/trofeo.svg" class="modal__img" alt="Trofeo">
                    <h2>Has cargado el ShortClip con Éxito</h2>
                    <button class="btn-goto-html" id="gotoHTML">Volver a Inicio</button>
                </div>
            </div>    
    </main>
</body>
<!----------------------- link js ------------------------------>
<!------------ js chatbot ------------->
<script src="//code.tidio.co/cjtbpljwr7yfgwu6eowmxsgon3xjuykc.js" async></script>
<!------------ responsive logo --------->
<script defer type="module" src="../js/responsiveLogo.js"></script>
<!------------ js navbar -------------->
<script src="../js/optionMore.js"></script>
<script src="../js/settingsPage.js"></script>
<!------------ button plus forms -------------->
<script src="../js/buttonPlus.js"></script>
<!------- carousels ------>
<script defer src="../js/carousels.js"></script>
<!------------ js page ---------------->
<script defer src="../js/form_shortclip.js"></script>

</html>