<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_formProject.css">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>
    <script defer src="../js/script_structure.js"></script>
</head>

<body>

    <nav class="container">
        <h2>

        </h2>
    </nav>

    <!-- //////////////// MAIN SECTION ////////////////////////// -->
    <main class="container main-container">
        <!-- ---------- MAIN LEFT ---------- -->
        <div class="main-left">
            <!-- <div class="profile--logo"> -->
            <div class="profile-photos--logo">
                <img src="../img/code.svg" alt="" id="icon-company">
            </div>

            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-house icon1"></i></span>
                    <h3>Inicio</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-magnifying-glass icon1"></i></span>
                    <h3>Buscar</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-play icon1"></i></span>
                    <h3>Transmisiones</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-video  icon1"></i></span>
                    <h3>ShortClip</h3>
                </a>
                <a href="" class="menu-item  message">
                    <span><i class="fa-solid fa-message  icon1"></i></span> <small class="count">5</small>
                    <h3>Mensajes</h3>

                </a>
                <a href="" class="menu-item " id="varProfile">
                    <span>
                        <div class="profile-photos" id="aside-porfile">
                            <img src="../img/person.png" alt="">
                        </div>
                    </span>
                    <h3>Mi perfil</h3>
                </a>

                <a href="" class="menu-item" id="bars">
                    <span><i class="fa-solid fa-bars icon1"></i></span>
                    <h3>Más</h3>
                </a>


            </aside>
        </div>
        <!-- Project form -->
        <div class="form_project_container">
            <form method="post" action="#">
                <div class="container_project">
                    <div class="container_img">
                        <div class="img_buttonCover">
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/web, image/JPG, image/JPEG, image/PNG, image/WEB"
                                type="file" id="addImg" hidden>
                            <label for="addImg" class="label_img"><p>+</p>agregar img</label>
                        </div>
                        <div class="img_button">
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/web, image/JPG, image/JPEG, image/PNG, image/WEB"
                                type="file" id="addImg" hidden>
                            <label for="addImg"><p>+</p>agregar img</label>
                        </div>
                        <div class="img_button">
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/web, image/JPG, image/JPEG, image/PNG, image/WEB"
                                type="file" id="addImg" hidden>
                            <label for="addImg"><p>+</p>agregar img</label>
                        </div>
                        <div class="img_button">
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/web, image/JPG, image/JPEG, image/PNG, image/WEB"
                                type="file" id="addImg" hidden>
                            <label for="addImg"><p>+</p>agregar img</label>
                        </div>
                        <div class="img_button">
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/web, image/JPG, image/JPEG, image/PNG, image/WEB"
                                type="file" id="addImg" hidden>
                            <label for="addImg"><p>+</p>agregar img</label>
                        </div>
                    </div>
                    <!-- tecnology -->
                    <div class="technology_container">
                        <div class="img__tecnology">
                            <img src="/static/img/tecnologias/1 (1).png.svg" alt="">
                        </div>
                        <div class="img__tecnology">
                            <img src="/static/img/tecnologias/2 (1).png.svg" alt="">
                        </div>
                        <div class="img__tecnology">
                            <img src="/static/img/tecnologias/3.png.svg" alt="">
                        </div>
                        <div class="img__tecnology">
                            <img src="/static/img/tecnologias/4.png.svg" alt="">
                        </div>
                        <div class="img__tecnology">
                            <img src="/static/img/tecnologias/5.png.svg" alt="">
                        </div>
                        <div class="img__tecnology notVisible">
                            <img src="/static/img/tecnologias/6.png.svg" alt="">
                        </div>
                        <div class="img__tecnology notVisible">
                            <img src="/static/img/tecnologias/7.png.svg" alt="">
                        </div>
                        <div class="img__tecnology notVisible">
                            <img src="/static/img/tecnologias/8.png.svg" alt="">
                        </div>
                        <div class="img__tecnology notVisible">
                            <img src="/static/img/tecnologias/9.png.svg" alt="">
                        </div>
                        <div class="buttonplus">
                            <i class='bx bxs-plus-circle'></i>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <div class="form--project">
                    <input type="url" class="url__project form" name="url__project"
                        placeholder="url proyecto desplegado">
                    <input type="text" class="technology form" name="tecnologias" placeholder="agregar tecnología">
                    <textarea class="description form" name="message" placeholder="descripción"></textarea>
                    <input type="url" class="url__gihub form" name="url__gihub" placeholder="url repositorio">
                </div>
                <div class="container_buttonPost">
                    <button class="button_post">publicar</button>
                </div>
            </form>
        </div>

    </main>
    <section class="modal">
        <div class="modal__container">
            <div class="close__modalProject">
                <button type="button">x</button>
            </div>
            <img src="/static/img/modal/trofeo.svg" class="modal__img">
            <h2 class="modal__tittle">¡has cargado tu proyecto con exito!</h2>
            <div class="container--buttons">
                <a href="structure.html" class="button__feed">inicio</a>
                <a href="#" class="button_myprofile">mi perfil</a>
            </div>
        </div>
    </section>
    <script src="/static/js/modal_project.js"></script>
</body>

</html>