<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <!-- <link rel="stylesheet" href="/static/css/style_searchProject.css"> -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>
     <script defer src="/static/js/Perfil_Visual.js"></script> 
</head>

<body>
    <main class="container main-container">



       <nav class="container-initial">
        <img id="image-preview" src="/static/img/portadasinfoto.jpeg" alt="Imagen actual" style="max-width: 100%; max-height: 300px; cursor: pointer;">
        <input type="file" id="file-input" accept="image/*" style="display: none;">


       </nav> 
        <!-- ---------- MAIN LEFT ---------- -->
        <div class="main-left">
            <div class="profile-photos--logo">
                <img src="../img/code.svg" alt="" id="icon-company">
            </div>



            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="searchproject.html" class="menu-item ">
                    <i class="fa-solid fa-house icon1"></i>
                    <p>Inicio</p>
                </a>
                <a href="" class="menu-item ">
                    <i class="fa-solid fa-magnifying-glass icon1"></i>
                    <p>Buscar</p>
                </a>
                <a href="" class="menu-item ">
                    <i class="fa-solid fa-play icon1"></i>
                    <p>Transmisiones</p>
                </a>
                <a href="" class="menu-item ">
                    <i class="fa-solid fa-video  icon1"></i>
                    <p>ShortClip</p>
                </a>
                <a href="" class="menu-item  message">
                    <i class="fa-solid fa-message  icon1"><small class="count">5</small></i>
                    <p>Mensajes</p>
                </a>
                <a href="" class="menu-item2" id="varProfile">
                    <div class="profile-photos" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                    <p>Mi perfil</p>
                </a>
            </aside>
            <a href="" class="menu-item3" id="bars">
                <i class="fa-solid fa-bars icon1"></i>
                <p>Más</p>
            </a>
        </div>
       

        <!-----------------  live streaming nav ------------------>

        <section class="main-right">
            <div class="main-right-options">
                <h2> Mi Perfil</h2> 
                <a href="" class="menu-genero">
                    <i class="fa-sharp fa-solid fa-user"></i>
                    <p > Genero</p>
                </a>
                <a href="" class="menu-birthday">
                    <i class="fa-sharp fa-solid fa-cake-candles"></i>
                    <p>Cumpleaños</p>
                </a>
                <a href="" class="menu-ubication">
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Ubicacion</p>
                </a>
               <a href="" class="menu-correo">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Correo</p>
               </a> 
               <a href="" class="menu-movil">
                    <i class="fa-solid fa-phone"></i>
                    <p>Telefono</p>
               </a>
               
            </div>
        </section>
    </main>
</body>


</html>