<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_postForm.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>
</head>



<body>
    <main class="container main-container">
        <!-- ---------- NAV BAR---------- -->
        <header class="main-left">
            <div class="container_mobile">
                <div class="profile-photos--logo">
                    <a href="http://localhost:8081/codenet/structure">
                        <img src="../img/code.svg" alt="" id="icon-company">
                    </a>
                </div>
                <div class="profile_more">
                <a href="#" class="profile__mobile" id="varProfile">
                    <div class="profile__mobile" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                </a>
                <a onclick="showPlusOptions()" class="menu_mobile" id="varProfile">
                    <i class="fa-solid fa-ellipsis-vertical icon_mobile"></i>
                </a>
                </div>
            </div>
            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="http://localhost:8081/codenet/structure" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/home.svg" alt="">
                    </div>
                    <p>Inicio</p>
                </a>
                <a href="http://localhost:8081/codenet/search" class="menu-item ">
                    <div class="icon1">
                        <img src="../img/icons/search.svg" alt="">
                    </div>
                    <p>Buscar</p>
                </a>
                <a href="http://localhost:8081/codenet/streams" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/live.svg" alt="">
                    </div>
                    <p>Live</p>
                </a>
                <a href="#" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/shortclip.svg" alt="">
                    </div>
                    <p>ShortClip</p>
                </a>
                <a href="#" class="menu-item  message">
                    <div class="icon1">
                        <img src="../img/icons/message.svg" alt=""><!-- <small class="count">5</small> -->
                    </div>
                    <p>Mensajes</p>
                </a>
                <a href="#" class="menu-item2" id="varProfile">
                    <div class="profile-photos" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                    <p>Mi perfil</p>
                </a>
            </aside>
            <div class="showPlus">
                <ul class="showOptions">
                    <li>
                        <a href="#" class="optionsMore">
                            <p>editar perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore ">
                            <p class="optionCenter">configuraciónes</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore">
                            <p>cerrar sesión</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a onclick="showPlusOptions()" class="menu-item3" id="varProfile">
                <i class="fa-solid fa-bars icon2"></i>
                <p>Más</p>
            </a>
        </header>
        <!-------------------- Post form -------------------->
        <div class="form_project_container">
            <form action="#" method="POST" enctype="multipart/form-data" class="container--mid">
                <div class="container--mid">
                    <div class="upload-section">
                        <input type="file" id="fileInput" name="archivo">
                        <label for="fileInput" class="upload-button">
                            Seleccionar archivo
                        </label>
                        <div id="filePreviewContainer">
                            <img id="filePreview" src="#" alt="Vista previa del archivo">
                        </div>
                    </div>
                        <textarea name="descripcion-section" class="description-section" placeholder="Descripción"></textarea>
                    <div class="submit-buttom">
                        <button type="submit" class="publish-button">Publicar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

<script src="../js/script_structure.js"></script>
<script src="../js/structure.js"></script>
<script src="../js/postForm.js"></script>
<script src="../js/sidebar.js"></script>

</html>
