<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_visualitation.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>

</head>

<body>
    <main class="container main-container">
        <!-- ---------- NAVBAR ---------- -->
        <header class="main-left">
            <div class="container_mobile">
                <div class="profile-photos--logo">
                    <a href="/codenet/structure">
                        <img src="../img/code.svg" alt="" id="icon-company">
                    </a>
                </div>
                <div class="profile_more">
                    <a href="#" class="profile__mobile" id="varProfile">
                        <div class="profile__mobile" id="aside-porfile">
                            <img src="../img/person.png" alt="">
                        </div>
                    </a>
                    <a onclick="showPlusOptions()" class="menu_mobile" id="varProfile">
                        <i class="fa-solid fa-ellipsis-vertical icon_mobile"></i>
                    </a>
                </div>
            </div>
            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="/codenet/structure" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/home.svg" alt="">
                    </div>
                    <p>Inicio</p>
                </a>
                <a href="/codenet/search" class="menu-item ">
                    <div class="icon1">
                        <img src="../img/icons/search.svg" alt="">
                    </div>
                    <p>Buscar</p>
                </a>
                <a href="/codenet/streams" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/live.svg" alt="">
                    </div>
                    <p>Live</p>
                </a>
                <a href="/codenet/clips" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/shortclip.svg" alt="">
                    </div>
                    <p>ShortClip</p>
                </a>
                <a href="#" class="menu-item  message">
                    <div class="icon1">
                        <img src="../img/icons/message.svg" alt=""><!-- <small class="count">5</small> -->
                    </div>
                    <p>Mensajes</p>
                </a>
                <a href="#" class="menu-item2" id="varProfile">
                    <div class="profile-photos" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                    <p>Mi perfil</p>
                </a>
            </aside>
            <div class="showPlus">
                <ul class="showOptions">
                    <li>
                        <a href="#" class="optionsMore">
                            <p>editar perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore ">
                            <p class="optionCenter">configuraciónes</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore">
                            <p>cerrar sesión</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a onclick="showPlusOptions()" class="menu-item3" id="varProfile">
                <i class="fa-solid fa-bars icon2"></i>
                <p>Más</p>
            </a>
        </header>
        <!-- ---------- END MAIN LEFT ---------- -->

        <!-- ---------- MAIN MID ---------- -->
        <div class="main-central">
            <div class="main-header">

                <div class="portada">
                       
                    <a class="edit-portada" id="edit-portada-button">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <input type="file" id="file-input" style="display: none">
                    </a>
                    <img src="../img/portadasinfoto.jpeg" id="portada-image">
                    <img src="" id="profileImage" alt="Imagen de perfil"> 
                    <div class="rol-perfilbutton">
                        <p><span id="nombre"></span></p>
                        <p> <span id="roles"></span></p>
                        <button id="editarPerfilButton">Editar Perfil</button>
                    </div>
                 
                </div>
                <div class="tecnologies-mostrar">
                    <p> <span id="tecnologia"></span></p>
                </div>
            </div>
            <div class="main-middle">
                <p>hola medio medio</p>
            </div>

            <div class="main-mid">
                <!-- .................. PROJECTS START ........................ -->
                <p> hola abajo</p>
                
            </div>

            <!-- .................. create post start  ........................ -->

            <!-- .................. create post end  ........................ -->


            <!-- .................. PROJECTS END ........................ -->

            <!-- ---------- END MAIN MID ---------- -->
            <!-- MAIN CENTER -->

            <div class="main-about">
                <div id="userData">
                    <p class="about-title">SOBRE MÍ</p>
                    <a class="genero">
                        <i class="fa-sharp fa-solid fa-user" style="color: #7f1aea;"></i>
                        <span id="gender"></span>
                    </a>
                    <a class="about-date">
                        <i class="fa-sharp fa-solid fa-cake-candles" style="color: #7f1aea;"></i>
                        <span id="date"></span>
                    </a>
                    <a class="about-address">
                        <i class="fa-sharp fa-solid fa-location-dot" style="color: #7f1aea;"></i>
                        <span id="address"></span>
                    </a>
                    <a class="about-correo">
                        <i class="fa-sharp fa-solid fa-envelope" style="color: #7f1aea;"></i>
                        <span id="correo"></span>
                    </a>
                    <a class="about-phone">
                        <i class="fa-sharp fa-solid fa-phone" style="color: #7f1aea;"></i>
                        <span id="phone"></span>
                    </a>

                    
              



                </div>

            </div> <!-- ---------- MAIN RIGHT ---------- -->
        </div>

        <!-- ---------- END MAIN RIGHT ---------- -->


    </main>

</body>
<!-- link js -->

<script src="../js/sidebar.js"></script>
<script defer type="module" src="../js/structure.js"></script>
<script src="../js/Visualizacion_Perfil.js"></script>
<script src="//code.tidio.co/jyvlyxqxgpph2pmupu9kpbz1mfibcguw.js" async></script>

</html>
