<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_SettingPerfil.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>

</head>

<body>
    <main class="container main-container">
        <!-- ---------- NAVBAR ---------- -->
        <header class="main-left">
            <div class="container_mobile">
                <div class="profile-photos--logo">
                    <a href="/codenet/structure">
                        <img src="../img/code.svg" alt="" id="icon-company">
                    </a>
                </div>
                <div class="profile_more">
                    <a href="#" class="profile__mobile" id="varProfile">
                        <div class="profile__mobile" id="aside-porfile">
                            <img src="../img/person.png" alt="">
                        </div>
                    </a>
                    <a onclick="showPlusOptions()" class="menu_mobile" id="varProfile">
                        <i class="fa-solid fa-ellipsis-vertical icon_mobile"></i>
                    </a>
                </div>
            </div>
            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="/codenet/structure" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/home.svg" alt="">
                    </div>
                    <p>Inicio</p>
                </a>
                <a href="/codenet/search" class="menu-item ">
                    <div class="icon1">
                        <img src="../img/icons/search.svg" alt="">
                    </div>
                    <p>Buscar</p>
                </a>
                <a href="/codenet/streams" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/live.svg" alt="">
                    </div>
                    <p>Live</p>
                </a>
                <a href="/codenet/clips" class="menu-item">
                    <div class="icon1">
                        <img src="../img/icons/shortclip.svg" alt="">
                    </div>
                    <p>ShortClip</p>
                </a>
                <a href="" class="menu-item  message">
                    <div class="icon1">
                        <img src="../img/icons/message.svg" alt=""><!-- <small class="count">5</small> -->
                    </div>
                    <p>Mensajes</p>
                </a>
                <a href="#" class="menu-item2" id="varProfile">
                    <div class="profile-photos" id="aside-porfile">
                        <img src="../img/person.png" alt="">
                    </div>
                    <p>Mi perfil</p>
                </a>
            </aside>
            <div class="showPlus">
                <ul class="showOptions">
                    <li>
                        <a href="#" class="optionsMore">
                            <p>editar perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore ">
                            <p class="optionCenter">configuraciónes</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="optionsMore">
                            <p>cerrar sesión</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a onclick="showPlusOptions()" class="menu-item3" id="varProfile">
                <i class="fa-solid fa-bars icon2"></i>
                <p>Más</p>
            </a>
        </header>

        <!-- contenedor central  -->
        <div class="Perfil-contain">
            <form class="perfil-contain-form">
                <div class="initial">
                    <img id="image-preview" src="../img/perfilsinfoto.jpg" alt="Imagen actual"
                        style="max-width: 100%; max-height: 300px; cursor: pointer;">
                    <input type="file" id="file-input" accept="image/*" style="display: none;">
                    <div class="initial-sec">
                        <input type="text" class="full-name" id="name" placeholder="Nombre" required>
                        <input type="text" class="rol-name" id="rol" placeholder="Rol" required>
                    </div>
                </div>
                <div class="tecnology">
                    <select id="tecnologys">
                        <option value="">Habilidades</option>
                        <option value="Boostrap">Boostrap</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="css">CSS</option>
                        <option value="html">HTML</option>
                        <option value="react">React</option>
                        <option value="nodejs">Node.js</option>
                        <option value="vuejs">Vue.js</option>
                        <option value="aws">AWS</option>
                        <option value="mongodb"> MongoDB</option>
                        <option value="oracle">Oracle</option>
                        <option value ="cloudflare"> CloudFlare</option>
                        <option value="filetype"> Filetype</option>
                        <option value="firebase"> Firebase</option>
                        <option value="github">Github </option>
                        <option value="inertia"> Inertia</option>
                        <option value="java"> Java</option>
                        <option value=" jquery"> Jquery </option>
                        <option value="maps"> Google maps</option>
                        <option value="mysql">Mysql </option>
                        <option value="nginx">Nginx </option>
                        <option value="nuxt">Nuxt.js </option>
                        <option value="php">PHP </option>
                        <option value="rails">Rails </option>
                        <option value="ruby">Ruby </option>
                        <option value="underscore"> Underscore.js</option>
                        <option value="Wordpress">Wordpress </option>

                    </select>
                    <div id="tecnology-images"></div>
                </div>
                <div class="date-information">
                    <div class="date_person">
                        <div class="date">
                            <p class="date__container">
                                <label class="date__form">Fecha de nacimiento</label>
                                <input type="date" class="date--list" id="date">
                            </p>
                            <select class="date--gender" id="gender">
                                <option value="Genero">Genero</option>
                                <option value="mujer">Mujer</option>
                                <option value="hombre">Hombre</option>
                                <option value="otro">Otro</option>
                            </select><br>

                        </div>
                        <input type="text" class="address" id="addres" placeholder="Direccion" required>
                        <input type="text" class="correo" id="correo" placeholder="Correo Electronico" required>
                    </div>
                    <div class="map-phone">

                        <div id="map">
                            <img id="image-map" src="../img/portadasinfoto.jpeg" alt="Imagen actual"
                                style="cursor: pointer;">
                        </div>
                        <input type="text" class="phone" id="phone" placeholder="Celular / WhatsApp" required>
                    </div>
                </div>
                <a href="" class="new_password">
                    <h4 class="password">Cambiar Contraseña</h4>
                </a>
                <div class="button">
                    <button id="save-button">Guardar Cambios</button>
                </div>

                <section class="sure">
                    <div class="modal__container">
                       <!--  <div class="">
                            <button type="button">x</button>
                        </div> -->
                        <h2 class="modal__tittle">No puedes elegir mas de ocho tecnologias</h2>
                        <div class="container--buttons">
                            <button class="close__modalSure">aceptar</button>
                           
                        </div>
                    </div>
                </section>


            </form>
        </div>
    </main>

</body>
<!----------------------- link js ------------------------------>
<!------------ js chatbot ------------->
<script src="//code.tidio.co/cjtbpljwr7yfgwu6eowmxsgon3xjuykc.js" async></script>
<!------------ responsive logo --------->
<script defer type="module" src="../js/responsiveLogo.js"></script>
<!------------ js navbar -------------->
<script src="../js/sidebarActive.js"></script>
<script src="../js/optionMore.js"></script>
<!------------ button plus forms -------------->
<script src="../js/buttonPlus.js"></script>
<!------- carousels ------>
<script defer src="../js/carousels.js"></script>
<!------------ js page ---------------->
<script src="../js/Setting_Perfil.js"></script>


</html>