<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- css link -->
    <link rel="stylesheet" href="/static/css/style_SettingPerfil.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.svg">
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Fontawasome -->
    <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>
    <script src="/static/templates/Setting_Perfil.html"></script>


</head>

<body>

    <nav class="container">
        <h2>

        </h2>
    </nav>

    <!-- //////////////// MAIN SECTION ////////////////////////// -->
    <main class="container main-container">
        <!-- ---------- MAIN LEFT ---------- -->
        <div class="main-left">
            <!-- <div class="profile--logo"> -->
            <div class="profile-photos--logo">
                <img src="../img/code.svg" alt="" id="icon-company">
            </div>

            <!-- -----------SIDEBAR---------- -->
            <aside class="side-bar">
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-house icon1"></i></span>
                    <h3>Inicio</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-magnifying-glass icon1"></i></span>
                    <h3>Buscar</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-play icon1"></i></span>
                    <h3>Transmisiones</h3>
                </a>
                <a href="" class="menu-item ">
                    <span><i class="fa-solid fa-video  icon1"></i></span>
                    <h3>ShortClip</h3>
                </a>
                <a href="" class="menu-item  message">
                    <span><i class="fa-solid fa-message  icon1"></i></span> <small class="count">5</small>
                    <h3>Mensajes</h3>

                </a>
                <a href="" class="menu-item " id="varProfile">
                    <span>
                        <div class="profile-photos" id="aside-porfile">
                            <img src="../img/person.png" alt="">
                        </div>
                    </span>
                    <h3>Mi perfil</h3>
                </a>

                <a href="" class="menu-item" id="bars">
                    <span><i class="fa-solid fa-bars icon1"></i></span>
                    <h3>Más</h3>
                </a>


            </aside>
        </div>

        <div class="Perfil-contain">
            <div class="information-top">
                <form action="procesar.php" method="post" enctype="multipart/form-data">
                    <label for="imagen">Selecciona una imagen:</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*">
                    <input type="submit" value="Subir Imagen">
                </form>
                <input type="text" class="Setting--name" name="name" placeholder="Nombre">
                <div class="search-box">
                    <label for="tecnology">Buscar o seleccionar tecnología:</label>
                    <input type="text" id="tecnology" list="tecnology-list" placeholder="Escribe o selecciona...">
                    <datalist id="tecnology-list">
                        <option value="HTML" data-imagen="/static/img/tecnologias/2.svg">
                        <option value="CSS" data-imagen="css.jpg">
                        <option value="JavaScript" data-imagen="javascript.jpg">
                        <option value="Python" data-imagen="python.jpg">
                        <!-- Agrega más opciones según sea necesario -->
                    </datalist>
                    <img id="selected-tecnology-img" src="" alt="Tecnología seleccionada" style="display: none;">
                </div>
            </div>
            <div class="tecnology-setting">
                <!-- Aquí se mostrarán las tecnologías seleccionadas con imágenes -->
            </div>
        </div>

    </main>
</body>

</html>