<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- Link js -->
    <!-- link style -->
    <link rel="stylesheet" href="../css/style_singup.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/code-net-7a600.appspot.com/o/static%2Ffavicon.svg?alt=media&token=5e8d39b3-3caf-4aa1-b672-d3dd48fcdda5&_gl=1*ikbwgp*_ga*MTkzMjc3ODczMC4xNjk4MTE1OTM1*_ga_CW55HF8NVT*MTY5OTM0NDUyOC4yOC4xLjE2OTkzNDQ5NzkuNTUuMC4w">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba93ad85e8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="fondo">
    </div>
    <div class="homepage">
        <div class="homepage--info">
            <div class="img__content">
                <image class="img__logo" src="../img/code.svg"></image>
            </div>
            <div class="title--home">
                <h1>EXPLORA, CONECTA Y CRECE EN EL UNIVERSO <span class="span__title">CODE|NET</span>.</h1>
            </div>
            <div class="buttons--home">
                <a href="../../index.html" class="button__logIn">conocenos</a>
            </div>
            <div class="info--users">
                <ul>
                    <li class="number--users">94k+</li>
                    <li>user</li>
                </ul>
                <ul>
                    <li class="number--users">1k+</li>
                    <li>streamings</li>
                </ul>
                <ul>
                    <li class="number--users">400k+</li>
                    <li>users</li>
                </ul>
            </div>
        </div>
        <div class="login--page">
            <div class="content__login">
                <form id="signUpForm" class="form--container">
                    <input type="text" class="singup--name" id="name" placeholder="nombre" required>
                    <input type="text" class="singup--lname" id="lastName" placeholder="apellido" required>
                    <input type="email" class="email--form" id="email" placeholder="correo" required>
                    <p class="date__container">
                        <label class="date__form">Fecha de nacimiento</label>
                        <input type="date" class="date--list" id="date">
                    </p>
                    <select class="list__genero" id="genero" required>
                        <option>Genero</option>
                        <option>masculino</option>
                        <option>femenino</option>
                        <option>otro</option>
                        </select>
                    <input type="text" id="username" name="username" class="username" pattern="@[A-Za-z0-9_]{1,15}" placeholder="@nombredeusuario">
<!--                     <input type="password" class="password--form" id="password" placeholder="contraseña" required>
                    <input type="password" class="password2--form" id="confirm_password" placeholder="confirmar contraseña" required> -->
                    <div class="password-input">
                        <input type="password" class="password--form" id="password" placeholder="contraseña" required>
                        <span class="password-toggle" onclick="togglePasswordVisibility()">
                            <i class="fa fa-eye" id="eyeIcon"></i>
                        </span>
                    </div>
                    <div class="password-input">
                        <input type="password" class="password2--form" id="confirm_password" placeholder="confirmar contraseña" required>
                        <span class="password-toggle" onclick="togglePasswordVisibility1()">
                            <i class="fa fa-eye" id="eyeIcon1"></i>
                        </span>
                    </div>
                    <p class="link--forget">Al registrarte, aceptas nuestras condiciones, la politica de privacidad y la politica de cookies.</p>
                    <div class="button--login">
                        <input type="submit" value="Registro">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- footer section -->
    <footer class="footer footer-centrado">
        <div class="footer--content">
            <div class="container--footer">
                <i class="fa-regular fa-copyright icon-copyright"></i>
                <h2 class="text_copyright"> 2023 CODE |NET all copyrihgt reserved</h2>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="../js/singUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>