<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css link -->
    <link rel="stylesheet" href="../css/style_structure.css">
     <!-- Link font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
     <!-- Link Fontawasome -->
     <script src="https://kit.fontawesome.com/95b2a267a8.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <nav class="container">
        <h2>
               
        </h2>
    </nav>

    <!-- //////////////// MAIN SECTION ////////////////////////// -->
        <main class="container main-container">
            <!-- ---------- MAIN LEFT ---------- -->
            <div class="main-left">
                <div class="profile--logo">
                    <div class="profile-photos--logo">
                        <img src="../img/code.svg" alt="">
                    </div>
               </div>
                <!-- <div class="profile">
                    <div class="profile-photos">
                        <img src="../img/code.svg" alt="">
                    </div>
                    <div class="hendel">
                        <h4>-Nombre Perfil-</h4>
                        <p class="text-gry">-Desarrollador__-</p>
                    </div>
               </div> -->

                <!-- -----------SIDEBAR---------- -->
                <aside class="side-bar">
                    <a href="" class="menu-item active">
                        <span><i class="fa-solid fa-house icon1"></i></span> <h3>Inicio</h3>
                    </a>
                    <a href="" class="menu-item ">
                        <span><i class="fa-solid fa-magnifying-glass icon1"></i></span> <h3>Buscar</h3>
                    </a>
                    <a href="" class="menu-item ">
                        <span><i class="fa-solid fa-play icon1"></i></span> <h3>Transmisiones</h3>
                    </a>
                    <a href="" class="menu-item ">
                        <span><i class="fa-solid fa-video fa-lg icon1"></i></span> <h3>ShortClip</h3>
                    </a>
                    <a href=""  class="menu-item  message">
                        <span><i class="fa-solid fa-message fa-lg icon1"></i></span> <small class="count">5</small> <h3>Mensajes</h3>
                        <!-- ..................messages........................ -->
                        <div class="profile-photos">
                            <img src="../img/person.png" alt="">
                        </div>
                        <div class="messsages-body">

                        </div> 
                    </a>
                    <a href="" class="menu-item ">
                        <span>
                            <div class="profile-photos">
                                <img src="../img/person.png" alt="">
                            </div>
                        </span> 
                            <h3>Mi perfil</h3>
                    </a>

                    <a href="" class="menu-item active">
                        <span><i class="fa-solid fa-bars icon1"></i></span> <h3>Más</h3>
                    </a>
                    
                    
                </aside>
            </div>
             <!-- ---------- END MAIN LEFT ---------- -->
            
            <!-- ---------- MAIN MID ---------- -->
            <div class="main-mid">
                <!-- .................. PROJECTS START ........................ -->
                
                <div class="storys">
                    <div class="story">
                        <div class="profile-photos">
                            <img src="../img/foto1.png" alt="">
                        </div>
                        <p>Backend</p>
                    </div>
                    <div class="story">
                        <div class="profile-photos">
                            <img src="../img/foto2.png" alt="">
                        </div>
                        <p>Backend</p>
                    </div>
                    <div class="story">
                        <div class="profile-photos">
                            <img src="../img/foto3.png" alt="">
                        </div>
                        <p>Backend</p>
                    </div>
                    <div class="story">
                        <div class="profile-photos">
                            <img src="../img/foto4.png" alt="">
                        </div>
                        <p>Backend</p>
                    </div>
                    <div class="story">
                        <div class="profile-photos">
                            <img src="../img/foto5.png" alt="">
                        </div>
                        <p>Backend</p>
                    </div>

                   
                </div>
                
                 <!-- .................. create post start  ........................ -->

                 <form action="" class="createPost" method="POST">
                    <div class="createPost-on">
                        <div class="profile-photos">
                            <img src="../img/person.png" alt="">
                        </div>
                    
                        <input type="text" name="" class="createPost" placeholder="Escribe algo...">
                    </div>
                    <div class="createPost-above">
                        <div class="createPost-links">
                            <a href="#"><i class="fa-solid fa-book"></i> <h3>Proyecto</h3> </a>
                            <a href="#"><i class="fa-solid fa-video fa-lg icon1"></i> <h3>ShortClip</h3> </a> 
                            <a href="#"><i class="fa-solid fa-play icon1"></i></i><h3>Transmisiones</h3></a>
                            
                        </div>
                        <button type="submit" value="post" class="btn btn-primary btn-primary--form"> 
                            <i class="fa-solid fa-share icon1"></i>
                        </button>
                    </div>
                </form>

                <!-- .................. create post end  ........................ -->

                <!-- .................. PROJECTS END ........................ -->
            </div>
            <!-- ---------- END MAIN MID ---------- -->

            <!-- ---------- MAIN RIGHT ---------- -->
            <div class="main-right">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tenetur ipsum reprehenderit? At aperiam deleniti accusamus maxime, aliquam ipsam provident voluptatum mollitia excepturi id dolorem, velit quibusdam totam quisquam placeat
            </div>
            <!-- ---------- END MAIN RIGHT ---------- -->
        </main>

     <!-- //////////////// END MAIN SECTION ////////////////////////// -->

</body>
</html>