<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code|Net</title>
    <!-- Link js -->
    <script defer src="../js/script.js"></script>
    <!-- link style -->
    <link rel="stylesheet" href="../css/style_successSU.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.svg">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba93ad85e8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="fondo"></div>
    <div class="homepage">
            <div class="img__content">
                <image class="img__logo" src="../img/code.svg"></image>
            </div>
            <div class="title--home">
                <h1>¡registro exitoso!</h1>
                <p>¡bienvenid*! ya haces parte de la comunidad tecnológica</p>
            </div>
            <div class="buttons--home">
                <a href="./static/templates/logIn.html" class="button__logIn">inicio</a>
                <a href="./static/templates/singUp.html" class="button__singUp">editar perfil</a>
            </div>
    </div>
    <!-- footer section -->
    <footer class="footer footer-centrado">
        <div class="footer--content">
            <div class="container--footer">
                <i class="fa-regular fa-copyright icon-copyright"></i>
                <h2 class="text_copyright"> 2023 CODE |NET all copyrihgt reserved</h2>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>