<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de Perfil</title>
    <link rel="stylesheet" href="/static/css/style_VisualizacionPerfil.css">
</head>

<body>
    <div class="profile-view">
        <h1>Perfil de Usuario</h1>
        <div class="profile-info">
            <div class="profile-image">
                <img src="/static/img/portadasinfoto.jpeg" alt="Imagen de Perfil">
            </div>
            <div class="profile-details">
                <h2>Nombre: <span id="profileName"></span></h2>
                <h2>Rol: <span id="profileRole"></span></h2>
                <h2>Habilidades:</h2>
                <ul id="profileSkills">
                    <!-- Aquí se llenarán las habilidades -->
                </ul>
                <h2>Fecha de Nacimiento: <span id="profileDate"></span></h2>
                <h2>Género: <span id="profileGender"></span></h2>
                <h2>Dirección: <span id="profileAddress"></span></h2>
                <h2>Correo Electrónico: <span id="profileEmail"></span></h2>
                <h2>Teléfono: <span id="profilePhone"></span></h2>
            </div>
        </div>
    </div>
    <script src="/static/js/Visualizacion_Perfil.js"></script>
</body>

</html>
